<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IGetDBConnection" />
        <binding name="BasicHttpBinding_IGetUsdBalance" />
        <binding name="BasicHttpBinding_IGetUserInfo" />
        <binding name="BasicHttpBinding_IUpdateUsdBalance" />
        <binding name="BasicHttpBinding_IWriteToDb" />
        <binding name="BasicHttpBinding_ITryLogin" />
        <binding name="BasicHttpBinding_IGetBtcLivePrice" />
        <binding name="BasicHttpBinding_IUpdateBtcBalance" />
        <binding name="BasicHttpBinding_IGetBtcBalance" />
        <binding name="BasicHttpBinding_IBuyBtc" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:6107/GetDBConnection.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGetDBConnection"
        contract="GetDBConnectionReference.IGetDBConnection" name="BasicHttpBinding_IGetDBConnection" />
      <endpoint address="http://localhost:6174/GetUsdBalance.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IGetUsdBalance" contract="GetUsdBalanceReference.IGetUsdBalance"
        name="BasicHttpBinding_IGetUsdBalance" />
      <endpoint address="http://localhost:12996/GetUserInfo.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IGetUserInfo" contract="GetUserInfoReference.IGetUserInfo"
        name="BasicHttpBinding_IGetUserInfo" />
      <endpoint address="http://localhost:6174/UpdateUsdBalance.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUpdateUsdBalance"
        contract="UpdateUsdBalanceReference.IUpdateUsdBalance" name="BasicHttpBinding_IUpdateUsdBalance" />
      <endpoint address="http://localhost:6174/WriteToDb.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IWriteToDb" contract="WriteToDbServiceReference.IWriteToDb"
        name="BasicHttpBinding_IWriteToDb" />
      <endpoint address="http://localhost:12996/TryLogin.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ITryLogin" contract="TryLoginReference.ITryLogin"
        name="BasicHttpBinding_ITryLogin" />
      <endpoint address="http://localhost:6174/GetBtcLivePrice.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGetBtcLivePrice"
        contract="GetBtcLivePriceReference.IGetBtcLivePrice" name="BasicHttpBinding_IGetBtcLivePrice" />
      <endpoint address="http://localhost:6174/UpdateBtcBalance.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUpdateBtcBalance"
        contract="UpdateBtcBalanceReference.IUpdateBtcBalance" name="BasicHttpBinding_IUpdateBtcBalance" />
      <endpoint address="http://localhost:6174/GetBtcBalance.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IGetBtcBalance" contract="GetBtcBalanceReference.IGetBtcBalance"
        name="BasicHttpBinding_IGetBtcBalance" />
      <endpoint address="http://localhost:6174/BuyBtc.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IBuyBtc" contract="BuyBtcReference.IBuyBtc"
        name="BasicHttpBinding_IBuyBtc" />
    </client>
  </system.serviceModel>
</configuration>